/*sub-brandstory.css*/
@charset "utf-8";

/*header.css | footer.css*/
@import url(header.css);
@import url(footer.css);

/*구글 웹 폰트*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');


main {
    /*margin-top: 25px;*/
    margin-top: 120px;
    width: 100%;
    height: 650px;
    background: url(../img/brandstory/brandstory-thumb.jpg) no-repeat center/cover;
    /*background-color: #fff;*/
    position: relative;
}

.main-wrap {
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: 20%;
}

main .main-txt {
    text-align: center;
    /*transform: translateY(-40%);*/
}

main .main-txt h1 {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 100px;
    color: #fff;
}

/*main .main-txt p {
    font-size: 22px;
    line-height: 40px;
}*/

.mbtn {
    position: absolute;
    top: 265px;
    left: 50%;
    transform: translateX(-50%);
    width: 880px;
    /*margin: 50px auto 0;*/
    /*outline: 2px solid red;*/
}

.mbtn > ul:after {
    content: "";
    display: block;
    clear: both;
}

.mbtn > ul > li {
    width: 150px;
    height: 40px;
    text-align: center;
    border: 1px solid #fff;
    line-height: 40px;
    float: left;
    margin-left: 30px;
}

.mbtn > ul > li > a:hover {
    background-color: #fff;
    color: #333;
    font-weight: bold;
}

.mbtn > ul > li:first-child {
    margin-left: 0;
}

.mbtn > ul > li > a {
    color: #fff;
}

/*section*/

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.page {
    width: 100%;
    height: 100%;
    position: relative;
    /*outline: 2px solid red;*/
}

/*main.page {
    height: 650px;
}

footer.main {
    height: 210px;
}*/

#page1 {
    background: url(../img/brandstory/brandstory1.jpg) no-repeat top/cover;
}

#page2 {
    background: url(../img/brandstory/brandstory2.jpg) no-repeat top/cover;
}

#page3 {
    background: url(../img/brandstory/brandstory3.jpg) no-repeat top/cover;
}

#page4 {
    background: url(../img/brandstory/brandstory4.jpg) no-repeat top/cover;
}

#footer {
    height: 20%;
}
