/*sub-directtrade.css*/
@charset "utf-8";

/*header.css | footer.css*/
@import url(header.css);
@import url(footer.css);

/*구글 웹 폰트*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

main {
    margin-top: 120px;
    height: 650px;
    background: url(../img/directtrade/directtrade-thumb.jpg) no-repeat center/cover;
    color: #fff;
}

.main-wrap {
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: 20%;
}

main .main-txt {
    text-align: center;
    /*transform: translateY(-40%);*/
}

main .main-txt h1 {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 100px;
}

main .main-txt p {
    font-size: 22px;
    line-height: 40px;
}

.mbtn {
    position: absolute;
    top: 265px;
    left: 50%;
    transform: translateX(-50%);
    width: 880px;
    /*margin: 50px auto 0;*/
    /*outline: 2px solid red;*/
}

.mbtn > ul:after {
    content: "";
    display: block;
    clear: both;
}

.mbtn > ul > li {
    width: 150px;
    height: 40px;
    text-align: center;
    border: 1px solid #fff;
    line-height: 40px;
    float: left;
    margin-left: 30px;
}

.mbtn > ul > li > a:hover {
    background-color: #fff;
    color: #333;
    font-weight: bold;
}

.mbtn > ul > li:first-child {
    margin-left: 0;
}

.mbtn > ul > li > a {
    color: #fff;
}

.wrap {
    width: 80%;
    margin: 0 auto 100px;
}

.dt-img {

    width: 970px;
    margin: 0 auto;
}

.dt-img img {
    margin: 100px 0 150px;
    height: 100%;
}

.dt-txt {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 150px;
}

.contents-wrap:after {
    content: "";
    display: block;
    clear: both;
}

.contents-box {
    width: 33.33%;
    float: left;
    /*outline: 2px solid red;*/
}

.inner-contents {
    width: 380px;
    margin: 0 auto;
    height: 500px;
    background-color: #fff;
    box-shadow: 3px 3px 5px #999;
    overflow: hidden;
}

.imgbox{
    width: 380px;
    height: 390px;
    overflow: hidden;
}

.inner-contents p {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    color: #333;
}

.contents-box:hover .inner-contents p {
    text-decoration: underline;
}

.contents-box:hover .inner-contents img {
    transform: scale(1.1);
    transition: all .5s;
}